<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1436.vfa_244484591f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2205.vc9522a_9d5711"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2205.vc9522a_9d5711">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>C_Branch</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>C_Branch</name>
          <description>branch choices</description>
          <choices>
            <string>main</string>
            <string>develop</string>
            <string>feature</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3943.v3519a_3260660">
    <script>pipeline {
    agent any
    
    tools {
        jdk &apos;jdk17&apos;
        maven &apos;maven3&apos;
    }
    
    parameters {
        choice (name: &apos;C_Branch&apos;, choices: [&apos;main&apos;, &apos;develop&apos;, &apos;feature&apos;], description: &apos;branch choices&apos;)
    }

    stages {
        stage(&apos;Git Checkout&apos;) {
            steps {
                git branch: &quot;${params.C_Branch}&quot;, credentialsId: &apos;git-cred&apos;, url: &apos;https://github.com/KiranItagi666/DevOps-CICD.git&apos;
            }
        }
        stage(&apos;Build&apos;) {
            steps {
                sh &quot;mvn package&quot;
                }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>